@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient(150deg, #212121 55%, #ff89f7 55%);
  min-height: 100vh;
  min-width: 100vw;
  color: white;
  position: fixed;
}

header {
  padding: 1em;
  font-size: 1.5em;
  font-weight: 700;
}

.main-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.skater-timers {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.skater-timer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.start-pause-button,
.reset-button {
  background-color: white;
  color: black;
  margin: 0.5em;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  min-width: 5em;
  max-width: 10em;
  padding: 0.3em;
  text-align: center;
}

.reset-all-button {
  background-color: white;
  color: black;
  margin: 1.5em;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  width: 14em;
  padding: 0.3em;
  text-align: center;
}

.remaining-time {
  font-size: 3em;
}

p {
  margin: 0 auto;
  font-weight: 1000;
}

.no-active-button {
  color: #eeeeee;
}
